{
  "presets": [
    "next/babel",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
      ["emotion"],
      [
        "import",
        {
          "libraryName": "antd",
          "style": false
        }
      ]
    ]
}
